.homepage{
    text-align: center;
    margin-top: 100px;
    .wrapper{
        font-family: 'Lato-Light';
        color: #fff;
        h2{
            font-size: 35px;
        }
        h3{
            font-size: 25px;
        }
    }
}