.createQuiz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 300px;
        align-items: center;
        color: #fff;
        background: rgba(68, 85, 235, 0.562);
        h3{
            font-size: 25px;
        }
        input[type=text]{
            width: 300px;
            height: 30px;
        }
        input[type=submit]{
            margin-top: 20px;
            width: 160px;
            height: 35px;
            border-radius: 5px;
            border: none;
            background: #fff;
        }
    }
    &__questions{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: rgba(68, 85, 235, 0.562);
        padding-bottom: 20px;
        &-question,&-answers{
            input{
                width: 300px;
                height: 30px;
                margin-bottom: 10px;
            }
        }
        &-answers{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }
        &-rightanswer{
            width: 400px;
            display: flex;
            justify-content: center;
            text-align: left;
            flex-wrap: wrap;
            select,label{
                width: 300px;
                height: 30px;
            }
        }
        &-addButtons{
            width: 400px;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            input{
                width: 110px;
                height: 35px;
            }
        }
    }
}
.done{
    text-align: center;
    margin-top: 100px;
    font-family: 'Montserrat Regular';
    color: #fff;
}

@media screen and (max-width:760px){
    .createQuiz{
        &__name{
            width: 290px;
            height: 250px;
            h3{
                font-size: 20px;
            }
            input[type=text]{
                width: 200px;
                height: 25px;
            }
            input[type=submit]{
                margin-top: 20px;
                width: 125px;
                height: 30px;
            }
        }
        &__questions{
            width: 290px;
            &-question,&-answers{
                input{
                    width: 250px;
                    height: 25px;
                    margin-bottom: 10px;
                }
            }
            &-rightanswer{
                width: 250px;
            }
            &-addButtons{
                input{
                    width: 100px;
                    height: 30px;
                }
            }
        }
    }
}