body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #ED4976, #3C48E4);
}

.wrapper{
    min-width: 500px;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh;
    .app__title{
        display: flex;
        justify-content: center;
        color: #fff;
        font-family: 'OpenSans';
        font-size: 23px;
        h1{
            letter-spacing: 3px;
        }
    }
    .app{
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
    }
}