.header{
    display: flex;
    text-align: center;
    background: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 60px;
    align-items: baseline;
    &__links{
        flex-basis: 33%;
        display: flex;
        justify-content: center;
        a{
            color: #fff;
            text-decoration: none;
            font-size: 20px;
            font-family: 'FiraSans-Regular';
        }
    }
}

@media screen and (max-width:760px){
    .header{
        &__links{
            a{
                font-size: 15px;
            }
        }
    }
}